<%- include('add/header.ejs') %>

    <div class="box">
        <form action="/tacos/login" method="POST">
            <div class="col s6">
                <img src="\assets\KRNAL.png" alt="Logo TACOS EL CARNAL" style="width: 55%;">
            </div>
            <br>
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate" name="username">
                <label for="first_name" class="login-text">Username</label>
            </div>
            <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="password">
                <label for="last_name" class="login-text">Password</label>
            </div>
            <button class="submit-button" type="submit" name="action">Eat now ->
            </button>
        </form>
    </div>


    <%- include('add/footer.ejs') %>