<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 17</title>
</head>

<body>

    <%- include('add/style.ejs') %>

    <h1>
        <%= titulo %>
    </h1>

    <br><br>
    ¿Qué otros templating engines existen para node?
    <blockquote>
        <ul>Handlebars</ul>
        <ul>EJS (Embedded JavaScript)</ul>
        <ul>Pug (antes llamado Jade)</ul>
        <ul>Nunjucks</ul>
        <ul>Dust.js</ul>
        <ul>Mustache</ul>
    </blockquote>

<div class="container">
    <a href="/Lab12">
        <button class="button">Back</button>
    </a>
    
</div>
</body>

</html>